@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --color1: #003B46;
  --color2: #E8E3D3;
  --color3: #B8FF5E;
  --color4: #000914;
  --color5: #D9D9D9;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

.cac-links{
  @apply text-[#555] mb-[10px]
}


@media screen and (min-width: 768px) {
  .cac-hero{
    background: url('./cac/images/World_map_blue_flat_vector___TeaGraphicDesign-removebg-preview.png') #f5f8fa;
  }
}
