@import "tailwindcss";

:root {
  --background: #FBFBFF;
  --foreground: #171717;
  --color1: #003B46;
  --color2: #000914;
  --color3: #B8FF5E;
  --color4: #040439;
  --color5: #D9D9D9;
  --color6: #D54244;
  --color7: #0000FF;
  --off-white: #D7D7D7;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0px 1000px none inset !important;
  box-shadow: 0 0 0px 1000px none inset !important;
  -webkit-text-fill-color: var(--color2) !important;
  transition: background-color 5000s ease-in-out 0s;
}

.text-outline {
  -webkit-text-stroke: 1px white;
  text-stroke: 1px white; /* for broader support */
}

.clickable:focus,
.clickable:active {
  cursor: pointer;
  animation: clickable 1000 linear 0 1 normal both;
}

@keyframes clickable {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}

.no-scrollbar {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer 10+ */
}
.no-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}


.rotateMine{
  animation: rotateCircle 1000 linear 0 1 normal both;
}

@keyframes rotateCircle {
  0% {
    transform: rotateZ(0deg);
  }
  /* 50% {
    transform: scale(1.05);
  } */
  100% {
    transform: rotateZ(360deg);
  }
}

.-rotateMine{
  animation: rotateCircle 1000 linear 0 infinite normal both;
}

@keyframes -rotateCircle {
  0% {
    transform: rotateZ(0deg);
  }
  /* 50% {
    transform: scale(1.05);
  } */
  100% {
    transform: rotateZ(-360deg);
  }
}